@import "function";

////
/// @group  Variable
////

/// @name object
$object: (
		colors : (
				white : #fefefe,
				black : #050100,
				
				success : #027A48,
				info : #33b5e5,
				warning : #DC6803,
				error : #B42318,
				
		),
);

/// MAIN PALLET
/// ===============
$c-white: return-value(colors, white);
$c-black: return-value(colors, black);

$c-success: return-value(colors, success);
$c-info: return-value(colors, info);
$c-warning: return-value(colors, warning);
$c-error: return-value(colors, error);

/// ADDITIONAL PALLET
/// ===============


